# Copyright 2008 Kevin Ryde

# This file is part of Finance-Quote-Hollywood.
#
# Finance-Quote-Hollywood is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as published
# by the Free Software Foundation; either version 3, or (at your option) any
# later version.
#
# Finance-Quote-Hollywood is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
# Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with Finance-Quote-Hollywood.  If not, see <http://www.gnu.org/licenses/>.

Source: libfinance-quote-hollywood-perl
Section: perl
Priority: optional
Build-Depends: cdbs, debhelper (>= 4)
Maintainer: Kevin Ryde <user42@zip.com.au>
Standards-Version: 3.8.0
Homepage: http://www.geocities.com/user42_kevin/finance-quote-hollywood/index.html
Bugs: mailto:user42@zip.com.au

Package: libfinance-quote-hollywood-perl
Architecture: all
Depends: perl (>= 5.6), libfinance-quote-perl, libhtml-tableextract-perl, libregexp-common-perl, libwww-perl (>= 5.814), ${misc:Depends}
Description: Download quotes from Hollywood Stock Exchange
 Finance::Quote::Hollywood extends Finance::Quote to download quotes
 from the Hollywood Stock Exchange game.
